<ul>
    <span class=""><%= lou_inspection.score %> </span>
    <!-- <span class="date-list"> <%= link_to lunch.date.strftime("%A %B %e, %G"), lunch_path(lunch.id) %> - <%= link_to @provider.name, lunch_path(lunch.id) %> Likes <%= lunch.liked %> </span> -->

</ul>