
            <!-- <div class ="row ft" -->
            <p class= "lead">
            Welcome to GrubScore, your resource for everything 

            </p>

            <!-- </div> -->

		<!-- 	<h2>New Business</h2> -->

			<%= render 'form' %>


<!-- 			<%= link_to 'Back', users_path %>

 -->
	</div>
			<div class="col-sm-6">
            <div class="svglogo">
            <?xml version="1.0" encoding="utf-8"?>
				<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 1280 800" style="enable-background:new 0 0 1280 800;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#E6E7E8;}
					.st1{opacity:0.07;fill:url(#SVGID_1_);}
					.st2{opacity:0.07;fill:url(#SVGID_2_);}
					.st3{fill:#FFFFFF;}
					.st4{opacity:0.1;fill:url(#SVGID_3_);}
					.st5{opacity:0.1;fill:url(#SVGID_4_);}
					.st6{fill:#F1F1F2;}
					.st7{opacity:0.6;fill:url(#SVGID_5_);}
					.st8{fill:none;}
					.st9{opacity:0.1;fill:url(#SVGID_6_);}
					.st10{fill:#E6E7E8;stroke:#E6E7E8;stroke-miterlimit:10;}
					.st11{opacity:0.6;fill:url(#SVGID_7_);stroke:#CCCCCC;stroke-miterlimit:10;}
					.st12{opacity:0.1;fill:url(#SVGID_8_);stroke:#C1272D;stroke-miterlimit:10;}
					.st13{fill:#C1272D;stroke:#C1272D;stroke-miterlimit:10;}
				</style>
				<g id="Layer_1">
					<g id="fork">
						<path class="st0" d="M326.91089,233.78775c-0.85626-53.20656-3.15475-75.78879-3.15475-75.78879l-8.83429,0.14218
							l0.80734,96.31558c0.04745,2.94904-2.64395,5.38559-5.55276,5.4324c-2.90878,0.04681-5.67688-2.30188-5.72433-5.25092
							l-2.29248-96.29169l-9.10202,0.14648l0.89169,101.53995c0.04745,2.94971-3.01462,5.39154-5.9234,5.43835
							c-2.90881,0.04681-6.04813-2.2952-6.09561-5.24493l-2.37656-101.51604l-9.10272,0.1465l0.80725,96.31558
							c0.04749,2.94904-2.64359,5.38559-5.55273,5.4324c-2.90881,0.04681-5.67688-2.30188-5.72433-5.25092l-2.29242-96.29169
							l-8.83464,0.14218c0,0-1.57025,22.64449-0.71397,75.85104c1.16743,72.54062,31.18396,67.20444,31.95172,114.91089
							c0.0174,1.07971-6.28873,302.10971-5.52335,302.8624c3.45667,3.39569,11.66525,4.95978,19.76752,4.7724
							c8.10403-0.07275,16.25803-1.90088,19.60364-5.40601c0.74075-0.77631-15.24887-301.44742-15.26624-302.52783
							C297.90564,301.96085,328.07834,306.32837,326.91089,233.78775z"/>
						
							<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="296.90543" y1="57.2235" x2="296.90543" y2="-98.40051" gradientTransform="matrix(0.94303 -0.01518 0.01539 0.9565 7.9126 262.38351)">
							<stop  offset="0" style="stop-color:#231F20"/>
							<stop  offset="0.08963" style="stop-color:#231F20;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#231F20;stop-opacity:0"/>
						</linearGradient>
						<path class="st1" d="M322.65244,246.77505c-0.87292-54.24026-1.9144-74.02095-7.66339-80.61423l0.74014,88.2959
							c0.04745,2.94904-2.64395,5.38559-5.55276,5.4324c-2.90878,0.04681-5.67688-2.30188-5.72433-5.25092l-2.16962-91.13689
							c-2.66867,0.29407-5.70764,0.72343-9.17203,1.03003l0.83884,95.5016c0.04745,2.94971-3.01462,5.39154-5.9234,5.43835
							c-2.90881,0.04681-6.04813-2.2952-6.09561-5.24493l-2.23508-95.47913c-3.47281-0.19495-6.52438-0.52631-9.20111-0.73434
							l0.76416,91.15952c0.04749,2.94904-2.64359,5.38559-5.55273,5.4324c-2.90881,0.04681-5.67688-2.30188-5.72433-5.25092
							l-2.10153-88.27399c-5.53384,6.77486-5.93825,26.57846-5.06532,80.81908c0.48378,30.06126,16.49797,65.02626,35.96989,64.71288
							C308.2551,312.29852,323.13623,276.8363,322.65244,246.77505z"/>
					</g>
					<g id="knife">
						<path class="st0" d="M873.81451,235.59979c0-75.59785,27.5788-122.17535,43.06226-122.17535
							c10.9176,0,12.44,5.52347,12.44,14.61491c0,9.09047-7.64581,108.48155-7.64581,227.49586
							c0,85.21283,11.09937,296.37305,10.3493,297.12317c-3.38623,3.3869-11.53168,5.05212-19.599,4.99554
							c-8.06732,0.05591-16.21277-1.60864-19.599-4.99554c-0.47131-0.47198,3.9754-232.35638,3.9754-244.49268
							C896.79767,363.18442,873.81451,347.39383,873.81451,235.59979z"/>
						<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="877.91577" y1="263.08746" x2="929.31677" y2="263.08746">
							<stop  offset="0" style="stop-color:#231F20"/>
							<stop  offset="0.08963" style="stop-color:#231F20;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#231F20;stop-opacity:0"/>
						</linearGradient>
						<path class="st2" d="M922.62775,412.25488c-0.59247-21.70651-0.95679-41.28128-0.95679-56.71967
							c0-119.01431,7.64581-218.4054,7.64581-227.49586c0-7.24481-0.97235-12.22047-6.89032-13.94389
							c-0.45587-0.07074-0.92719-0.13135-1.42615-0.17541c-25.66644,10.35095-43.08453,62.31581-43.08453,132.29193
							C877.91577,325.90341,903.01532,399.08765,922.62775,412.25488z"/>
					</g>
					<g id="outer_grey_plate">
						<ellipse class="st3" cx="590.71057" cy="377.20651" rx="285.845" ry="276.57065"/>
						<ellipse class="st3" cx="590.71002" cy="377.20651" rx="195.05696" ry="188.72891"/>
						<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="789.58978" y1="576.06946" x2="584.39075" y2="370.87051">
							<stop  offset="0" style="stop-color:#231F20"/>
							<stop  offset="0.08963" style="stop-color:#231F20;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#231F20;stop-opacity:0"/>
						</linearGradient>
						<path class="st4" d="M786.63269,566.77301c-110.59222,107.00397-289.24857,107.97809-401.1051,2.96069
							c1.01709,1.01508,2.02417,2.03436,3.06,3.03845c111.62912,108.00751,292.61597,108.00751,404.24432,0
							c111.62988-108.00803,111.62988-283.12384,0-391.13242c-1.03668-1.00301-2.0907-1.97685-3.13873-2.96123
							C898.23273,286.90607,897.22485,459.76794,786.63269,566.77301z"/>
						<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="455.00058" y1="241.50043" x2="595.99493" y2="382.49475">
							<stop  offset="0" style="stop-color:#231F20"/>
							<stop  offset="0.08963" style="stop-color:#231F20;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#231F20;stop-opacity:0"/>
						</linearGradient>
						<path class="st5" d="M458.98361,249.75366c75.13748-72.70123,196.32187-73.68454,272.71365-2.96123
							c-1.00952-1.02084-2.02502-2.03493-3.06165-3.03792c-76.17413-73.70297-199.67767-73.70346-275.85147,0
							c-76.1749,73.70294-76.1741,193.19992,0,266.90289c1.03607,1.00299,2.08493,1.98657,3.13895,2.96228
							C382.82959,439.70514,383.84537,322.45309,458.98361,249.75366z"/>
					</g>
					<g id="grey_circle_plate">
						<circle class="st6" cx="580.42358" cy="358.69925" r="217.56558"/>
						<circle class="st3" cx="580.42322" cy="358.69925" r="148.46379"/>
						<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="426.58182" y1="204.85686" x2="582.78345" y2="361.05847">
							<stop  offset="0" style="stop-color:#FFFFFF"/>
							<stop  offset="0.08963" style="stop-color:#FFFFFF;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
						</linearGradient>
						<path class="st7" d="M431.30032,209.57596c84.17563-84.17582,220.15622-84.94267,305.29501-2.32939
							c-0.77441-0.79834-1.54071-1.60072-2.32941-2.38965c-84.96552-84.96531-222.72015-84.96478-307.68417,0
							c-84.96451,84.96428-84.96451,222.71938,0,307.6839c0.78867,0.78864,1.59106,1.55499,2.3894,2.32892
							C346.35791,429.73245,347.12524,293.75131,431.30032,209.57596z"/>
						<path class="st8" d="M729.54608,507.82196c-84.17529,84.17438-220.15643,84.94116-305.29398,2.32843
							c0.7742,0.79938,1.54099,1.60123,2.32965,2.39044c84.96402,84.96399,222.71866,84.96399,307.6832,0
							c84.96497-84.96402,84.96497-222.71964,0-307.68445c-0.78918-0.78918-1.59161-1.55499-2.3894-2.32944
							C814.48877,287.66397,813.72144,423.64615,729.54608,507.82196z"/>
						<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="475.44351" y1="253.71892" x2="582.78302" y2="361.05841">
							<stop  offset="0" style="stop-color:#231F20"/>
							<stop  offset="0.08963" style="stop-color:#231F20;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#231F20;stop-opacity:0"/>
						</linearGradient>
						<path class="st9" d="M480.16183,258.43744c57.19003-57.18979,149.42685-57.9632,207.5715-2.32938
							c-0.7688-0.8024-1.54126-1.59975-2.33038-2.3894c-57.97876-57.97824-151.9812-57.97897-209.9592,0
							c-57.97949,57.97946-57.97897,151.98065,0,209.96014c0.78821,0.78867,1.58621,1.56311,2.38889,2.3299
							C422.19913,407.86411,422.97177,315.62723,480.16183,258.43744z"/>
					</g>
					<g id="logo_text">
						<path d="M517.7915,331.12549c-5.34375,5.10986-11.73047,7.66406-19.16016,7.66406c-7.96875,0-14.76025-2.80664-20.37305-8.41992
							c-5.61328-5.61279-8.41992-12.4043-8.41992-20.37305c0-7.94531,2.80664-14.73047,8.41992-20.35547
							c5.61279-5.625,12.4043-8.4375,20.37305-8.4375c7.42969,0,13.88672,2.49609,19.37109,7.48828l-2.39062,2.17969
							c-4.82861-4.28906-10.48877-6.43359-16.98047-6.43359c-7.05469,0-13.07812,2.49609-18.07031,7.48828
							s-7.48828,11.01611-7.48828,18.07031c0,7.07861,2.49609,13.11328,7.48828,18.10547s11.01562,7.48828,18.07031,7.48828
							c6.04688,0,11.37842-1.86328,15.99609-5.58984v-17.15625h3.16406V331.12549z"/>
						<path d="M541.34619,318.57471c-0.30469,0.02344-0.62109,0.03516-0.94922,0.03516h-9.5625v19.51172h-3.16406v-56.25h14.76562
							c4.28906,0.58594,7.93311,2.37891,10.93359,5.37891c3.58594,3.58594,5.37891,7.91016,5.37891,12.97266
							c0,5.08594-1.79297,9.42188-5.37891,13.00781c-2.48438,2.48438-5.33203,4.11328-8.54297,4.88672l12.97266,20.00391h-3.90234
							L541.34619,318.57471z M530.83447,285.0708v30.33984h9.5625c4.17139,0,7.73975-1.48193,10.70508-4.44727
							c2.96484-2.96484,4.44727-6.54443,4.44727-10.74023c0-4.19531-1.48242-7.76953-4.44727-10.72266
							c-2.96533-2.95312-6.53369-4.42969-10.70508-4.42969H530.83447z"/>
						<path d="M599.49463,281.87158h3.19922v40.42969c-0.58594,4.28906-2.37891,7.93359-5.37891,10.93359
							c-3.58594,3.58594-7.91016,5.37891-12.97266,5.37891c-5.08594,0-9.42188-1.79297-13.00781-5.37891
							s-5.37891-7.91016-5.37891-12.97266v-38.39062h3.19922v38.39062c0,4.17188,1.48193,7.74023,4.44727,10.70508
							c2.96484,2.96533,6.54443,4.44727,10.74023,4.44727c4.19531,0,7.76953-1.48193,10.72266-4.44727
							c2.95312-2.96484,4.42969-6.5332,4.42969-10.70508V281.87158z"/>
						<path d="M623.2251,281.87158c2.88281,0,5.34912,1.01953,7.40039,3.05859c2.05078,2.03906,3.07617,4.5,3.07617,7.38281
							c0,2.90625-1.48877,5.61328-4.46484,8.12109c2.62451,0.53955,5.09766,2.08643,7.41797,4.64062
							c3.74951,3.77393,5.62549,8.33203,5.62549,13.67578c0,5.3208-1.87598,9.92627-5.62549,13.81641
							c-3.49268,3.60938-7.66406,5.44922-12.51562,5.51953v0.03516h-10.89844v-56.25H623.2251z M616.40479,285.03564v14.37891h7.62891
							c1.75781-0.16357,3.25732-0.82031,4.5-1.96875c1.4292-1.3125,2.14453-3.02344,2.14453-5.13281s-0.71533-3.84961-2.14453-5.2207
							c-1.42969-1.37109-3.19922-2.05664-5.30859-2.05664H616.40479z M616.40479,302.78955v32.16797h7.73438v0.03516
							c3.91406-0.25781,7.28906-1.86328,10.125-4.81641c3.1167-3.21094,4.67578-7.01904,4.67578-11.42578
							c0-4.40625-1.55908-8.16797-4.67578-11.28516c-3.11719-3.1167-6.87891-4.67578-11.28516-4.67578H616.40479z"/>
						<path d="M484.70947,393.37354c-4.00781-1.33594-7.17188-3.16406-9.49219-5.48438s-3.48047-5.13281-3.48047-8.4375
							c0-3.23438,1.16016-6.01709,3.48047-8.34961c2.32031-2.33203,5.13281-3.49805,8.4375-3.49805
							c3.28125,0,6.09375,1.16016,8.4375,3.48047c1.28857,1.24268,2.17969,2.63672,2.67188,4.18359l-2.84766,1.125
							c-0.42188-1.14795-1.11328-2.20264-2.07422-3.16406c-1.71094-1.6875-3.77393-2.53125-6.1875-2.53125
							c-2.41406,0-4.47705,0.84961-6.1875,2.54883c-1.71094,1.69971-2.56641,3.76758-2.56641,6.20508
							c0,2.41406,0.85547,4.47705,2.56641,6.1875c1.59375,1.57031,3.79688,3.01172,6.60938,4.32422
							c4.5,1.45361,8.28467,3.71484,11.35547,6.78516c3.25732,3.23438,4.88672,7.14893,4.88672,11.74268
							c0,4.61719-1.62939,8.55469-4.88672,11.8125c-3.25781,3.25781-7.18408,4.88672-11.77734,4.88672
							c-4.59375,0-8.52002-1.64062-11.77734-4.92188c-2.60156-2.60156-4.16064-5.625-4.67578-9.07031l2.98828-1.08984
							c0.32812,3.04688,1.62891,5.70703,3.90234,7.98047c2.64844,2.64844,5.83594,3.97266,9.5625,3.97266
							c3.74951,0,6.94873-1.32422,9.59766-3.97266c2.64844-2.64844,3.97266-5.84766,3.97266-9.59766
							c0-3.72656-1.32422-6.91406-3.97266-9.56299C490.93213,396.60791,488.08447,394.75684,484.70947,393.37354z"/>
						<path d="M552.24463,415.55762l2.39062,2.14453c-5.48438,4.99219-11.94141,7.48828-19.37109,7.48828
							c-7.96875,0-14.76025-2.80664-20.37305-8.41992c-5.61328-5.61328-8.41992-12.4043-8.41992-20.37354
							c0-7.94531,2.80664-14.73047,8.41992-20.35547c5.61279-5.625,12.4043-8.4375,20.37305-8.4375
							c7.42969,0,13.88672,2.49609,19.37109,7.48828l-2.39062,2.17969c-4.82861-4.28906-10.48877-6.43359-16.98047-6.43359
							c-7.05469,0-13.07812,2.49609-18.07031,7.48828s-7.48828,11.01611-7.48828,18.07031c0,7.07861,2.49609,13.11377,7.48828,18.10596
							s11.01562,7.48828,18.07031,7.48828C541.75586,421.99121,547.41602,419.84668,552.24463,415.55762z"/>
						<path d="M611.81689,375.91846c5.63672,5.63721,8.45508,12.43994,8.45508,20.4082c0,7.96924-2.81836,14.77197-8.45508,20.40869
							c-5.63721,5.63672-12.43994,8.45508-20.4082,8.45508c-7.96875,0-14.77148-2.81836-20.4082-8.45508
							c-5.63721-5.63672-8.45508-12.43945-8.45508-20.40869c0-7.96826,2.81787-14.771,8.45508-20.4082
							c5.63672-5.63672,12.43945-8.45508,20.4082-8.45508C599.37695,367.46338,606.17969,370.28174,611.81689,375.91846z
							 M591.40869,370.69775c-7.07861,0-13.11914,2.50195-18.12305,7.50586c-5.00439,5.00439-7.50586,11.04492-7.50586,18.12305
							c0,7.07861,2.50146,13.12549,7.50586,18.14111c5.00391,5.01562,11.04443,7.52344,18.12305,7.52344
							c7.07812,0,13.11865-2.50781,18.12305-7.52344c5.00391-5.01562,7.50586-11.0625,7.50586-18.14111
							c0-7.07812-2.50195-13.11865-7.50586-18.12305C604.52734,373.19971,598.48682,370.69775,591.40869,370.69775z"/>
						<path d="M643.61621,404.97559c-0.30469,0.02344-0.62109,0.03516-0.94922,0.03516H633.104v19.51172h-3.16406v-56.25049h14.76611
							c4.28906,0.58594,7.93359,2.37891,10.93359,5.37891c3.58594,3.58594,5.37891,7.91016,5.37891,12.97266
							c0,5.08594-1.79297,9.42188-5.37891,13.00781c-2.48438,2.48486-5.33203,4.11377-8.54297,4.88721l12.97266,20.00391h-3.90234
							L643.61621,404.97559z M633.104,371.47119v30.34033h9.56299c4.17188,0,7.74023-1.48242,10.70508-4.44775
							c2.96484-2.96484,4.44727-6.54443,4.44727-10.74023c0-4.19531-1.48242-7.76953-4.44727-10.72266s-6.5332-4.42969-10.70508-4.42969
							H633.104z"/>
						<path d="M696.35059,368.27197v3.16406h-24.96094v23.37891h24.96094v3.16406h-24.96094v23.37939h24.96094v3.16406h-28.125
							v-56.25049H696.35059z"/>
					</g>
					<g class = "target" id="target_olive">
						<ellipse class="st10" cx="590.71002" cy="396.24832" rx="31.29306" ry="32.39516"/>
						<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="566.66205" y1="374.51025" x2="589.93591" y2="397.78415">
							<stop  offset="0" style="stop-color:#FFFFFF"/>
							<stop  offset="0.08963" style="stop-color:#FFFFFF;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
						</linearGradient>
						<path class="st11" d="M568.52814,374.04398c11.20569-12.53369,29.3078-12.64789,40.64166-0.34683
							c-0.10663-0.11572-0.20508-0.23834-0.31006-0.35583c-11.31085-12.65125-29.64911-12.65118-40.95972,0
							c-11.31073,12.65112-11.31073,33.16275,0,45.8139c0.10498,0.11743,0.21179,0.23154,0.31805,0.34677
							C557.2204,406.8251,557.32257,386.57764,568.52814,374.04398z"/>
						<path class="st8" d="M608.23138,418.45258c-10.66687,10.66479-28.1236,8.54044-40.64148,0.34668
							c-0.13171-0.08621,0.20514,0.23846,0.31012,0.35596c11.31061,12.65106,29.64886,12.65106,40.95953,0
							c11.31079-12.65106,15.28717-33.16425,3.97638-45.81543c-0.10504-0.11749,0.76471,6.88638,0.65851,6.77106
							C624.49213,392.78769,620.12079,406.56546,608.23138,418.45258z"/>
						<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="573.5575" y1="381.41684" x2="589.54498" y2="397.40433">
							<stop  offset="0" style="stop-color:#231F20"/>
							<stop  offset="0.08963" style="stop-color:#231F20;stop-opacity:0.91037"/>
							<stop  offset="1" style="stop-color:#231F20;stop-opacity:0"/>
						</linearGradient>
						<path class="st12" d="M575.03271,381.31943c7.61328-8.51553,19.89209-8.63068,27.63245-0.34686
							c-0.10236-0.11948-0.20514-0.23819-0.31024-0.35577c-7.71826-8.6329-20.23212-8.63303-27.95026,0
							c-7.71838,8.63309-7.71832,22.62982,0,31.26291c0.10492,0.11743,0.21112,0.23276,0.31799,0.34692
							C567.31659,403.56894,567.41943,389.83493,575.03271,381.31943z"/>
					</g>
				</g>
				<g class = "bullseye" id="Layer_2">
					<ellipse id="bullseye" class="st13" cx="590.70941" cy="396.24829" rx="17.60851" ry="16.13726"/>
				</g>
				</svg>

            </div>


          </div>

        </div>
     </div>
                 
            
         <!-- End Main Content -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
  </html>

        

  

	