<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="col-xs-4, col-md-5 pull-right">
          
      <h1>GrubScore</h1>
           
        <p class= "lead">
        Restaurant Inspection Leaderboard
        </p>

        <h2>Create an Account</h2>
          <p>
        	<%= render 'form' %>
          </p>
        </div>
        		
      <div class = "col-xs-8, col-md-7">           
      <%= render 'logo' %> 
    </div>    
  
  </div>
</div>
                 


        

  
